<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <img src="/Oauth/images/logo_domii.svg" class="image-login">
    <p class="connect">Connectez-vous</p>

    <form action="/Oauth/loginResp" class="form-login" method="POST">
        <div class="form-class center"></div>
          <input type="text" placeholder="Email" name="login"  value="test@test2.fr" required>
          <input type="password" placeholder="Mot de passe" name="pass" value="P@ssw0rd" class="password" required>

          <input type="hidden" value="{{ challenge }}" name="challenge">
          <p class="error {{ error }}">Erreur, veuillez entrer des identifiants corrects.</p>
          <button type="submit" value="Connexion" name="submit">Connexion</button>
        </div>
    </form>

</body>
</html>
